@import 'bower_components/jeet.gs/scss/jeet/index.scss';

ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

li{
  cursor: move;
    border: 1px solid grey;
}

#left,
#right{
  margin: 0px !important;
  height: 100px;
} 

#left{
  @include col(1/3);
  border: 1px solid pink;
}

#right{
  @include col(2/3);
  border: 1px solid green;
}

.gu-mirror{
  display: none;
}